
div.chill_contact {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1em;
  margin: 1em 0;
  max-width: 500px;
  div.chill_contact_name {
    font-variant: small-caps;
  }
  div.chill_contact_category {
    margin: 0.5em 0;
    font-size: 85%;
    span.category {
      font-style: italic;
    }
    span::before {
      margin-left: 0.5em;
      margin-right: 0.5em;
      font-family: 'FontAwesome';
      content: '\f02e';
      font-style: normal;
    }
  }
  div.chill_contact_comment {
      font-size: 85%;
      font-style: italic;
  }
  div.chill_address {
    div.chill_address_address::before {
      margin-left: 0.5em;
      margin-right: 0.5em;
      font-family: 'FontAwesome';
      content: '\f015';
    }
  }
  div.chill_contact_contact {
    font-variant: small-caps;
    span::before {
      margin-left: 0.5em;
      margin-right: 0.5em;
      font-family: 'FontAwesome';
    }
    span.email::before {
      content: '\f1fa';
    }
    span.telephone::before {
      content: '\f095';
    }
  }
}